# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python egg metadata
*.egg-info/
dist/
build/